/*

ATTRIBUTIONS

Title: Inter
Author: Rasmus Andersson
Source: https://fonts.google.com/specimen/Inter
Licence: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL

Title: Archivo Black
Author: Omnibus-Type
Source: https://fonts.google.com/specimen/Archivo+Black?query=Archivo&preview.script=Latn
Licence: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL

*/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    height: 10dvh;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.header .header-logo {
    font-family: "Archivo Black", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    font-family: inter, sans-serif;
}

.header-links a{
    font-family: Inter, sans-serif;
    color: black;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}


.side-bar {
    outline: 1px solid red;
    width: 10vw;
    height: 100dvh;
    margin-right: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 35px;
    font-family: Inter, sans-serif;
}

.img {
    height: 200px;
    width: 400px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 10px;
}

.hero-middle {
    display: flex;
    gap: 50px;
    font-family: Inter, sans-serif;
    align-items: center;
    justify-content: center;

}

.hero-paragraph {
    font-weight: 500;
}

.hero-group {
    width: 50%;
}

.content {
    display: flex;
}

.container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-recipe {
    display: flex;
    flex-direction: column;
    flex: 1;
    outline: 1px solid red;
}

.top-recipe .first-second-third {
    display: flex;
    flex: 1;
    gap: 5px;
    outline: 1px solid red;
}

.winners-text {
    text-align: center;
    background-color: #fcf5f9;
}

.First, .Second, .Third {
    display: flex;
    flex: 1;
    background-color: #ffe48c;
    justify-content: center;
    padding: 10px;
}

.footer {
    height: 10dvh;
    outline: 1px solid red;
}